/* CSS declarations go here */

* {
    font-family: Ubuntu;
}

h1 {
    color: #66CDAA;
}

ul {
    list-style-type: none;
}

.hero-unit {
    padding: 6em;
    background: url("img/skyline.jpg") no-repeat fixed top;
}

.btn-primary {
    color: #66CDAA;
    border-color: transparent;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#scrollArrow {
    font-size: 3em;
    color: #fff;
    border-radius: 1em;
    opacity: .5;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
}



#scrollArrow:hover {
    color: #66CDAA;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.hero-unit-inner {
    padding-bottom: 15em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.hero-unit-inner > h1 {
    color: white;
}

.navbar-fixed-top {
    height: 85px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-toggle {
    background-color: #999999;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:active .icon-bar {
    background-color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-brand img {
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.navbar-brand {
    margin-bottom: 30px;
}

.navbar-inner {
    padding-left: 0;
    padding-right: 0;
    min-height: 100px;
    background: transparent;
    border: none;
    box-shadow: none;
    padding-top: 20px;
}

.navbar .nav > li > a {
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav > li > a:hover,
a:focus {
    border-bottom: 1px solid #66CDAA;
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: transparent;
}

.navbar .nav > li > a:focus {
    color: #66CDAA;
    border-bottom: 1px solid #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    box-shadow: none;
    color: #66CDAA;
}

.langicon {
    height: 40px;
    width: 40px;
}

.langicon-small {
    height: 85px;
    width: 85px;
    margin: -20px;
    padding: 0px;
}

.services {
    background: url("http://i.imgur.com/WJWhfaN.png") no-repeat fixed bottom;
    background-size: cover;
    margin-top: -4.5em;
    color: white;
    margin-left: -1em;
    margin-right: -1em;
}

a {
    color: black;
}

.btn {
    background: #9a9c9f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background: #66CDAA;
    border-color: transparent;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn:focus {
    background: #66CDAA;
    color: #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#skills {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    padding-top: 100px;
}

#services {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    padding-top: 100px;
}

#projects {
    /*  margin-bottom: 60px;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*padding-bottom: 100px;*/
}

.portfolioBtn {
    margin-bottom: 2em;
}

#background {
    padding-bottom: 100px;
    padding-top: 100px;
}

#portfolio {
    padding-bottom: 100px;
    padding-top: 100px;
}

.widgets {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-size: cover;
    color: white;
    background: url("http://i.imgur.com/fJXs2ii.png") no-repeat fixed bottom;
}

.widgets a {
    color: white;
}

.widgets a:hover {
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.footer-links {
    padding-top: 50px;
    list-style: none;
}

.footer-links li {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.socialIcons {
    font-size: 2em;
    padding-left: .25em;
    padding-right: .25em;
}

#portfolio .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2em;
    margin-bottom: 2em;
}

#portfolio .odd {
    background-color: #999999;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#portfolio .odd a {
    color: white;
}

#portfolio .odd a:hover,
#portfolio .odd a:focus {
    text-decoration: none;
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.projectPic {
    veritcal-align: 50%;
}

.resume {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.resumePdf {
    border: 2em solid rgba(0, 0, 0, 0.1);
    /*    width: 50em;*/
    height: 50em;
}

.imgWrap {
    position: relative;
    height: 400px;
    width: 514px;
    margin: 0 auto;
    margin-bottom: 10em;
    text-decoration: none;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #66CDAA;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.imgDescription a {
    text-decoration: none;
}

.smallText {
    padding: 15px;
}

.thumbnail,
.img-polaroid {
    height: 400px;
    width: 514px;
    /*height: 18em;
    width: 30em;*/
}

.badge-success {
    background: #66CDAA;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
    text-decoration: none;
    vertical-align: 50%;
    padding-top: 40px;
}

span .fa-mobile {
    padding-right: .572em;
    padding-left: .572em;
}

.perks {
    font-size: 7em;
    background: #66CDAA;
    border-radius: 50%;
    padding: .25em;
}

#portfolio h2,
#portfolio h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/*.odd {
    background: rgba(0,0,0,0.1);
    background-size: 5em;
    padding-top: 2em;
    padding-right: -5em;
    padding-left: -5em;
}*/

@media (max-width: 980px) {
    .img-polaroid {
        height: 300px;
        width: 414px;
    }
    .imgWrap {
        height: 300px;
        width: 414px;
    }
    .smallText {
        font-size: 15px;
    }
    /*#services {
        margin-right: -4em;
        margin-left: -4em;
    }
    .widgets {
        margin-right: -4em;
        margin-left: -4em;
    }*/
}

@media (max-width: 767px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        background-color: #999999;
    }
}

@media (max-width: 684px) {
    /*.hero-unit {
        margin-right: -1.5em;
        margin-left: -1.5em;
    }*/
    .hero-unit {
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    .services {
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    .widgets {
        background-size: cover;
        background-attachment: scroll;
        background-position: inherit;
    }
    .smallText {
        font-size: 15px;
    }
    .img-polaroid {
        height: 300px;
        width: 364px;
    }
    .imgWrap {
        height: 300px;
        width: 364px;
        font-size: .5em;
    }
    .recommendations > iframe {
        width: 250px;
    }
    /* #services {
        margin-right: -4em;
        margin-left: -4em;
    }
    .widgets {
        margin-right: -4em;
        margin-left: -4em;
    }*/
}
