/* CSS declarations go here */

.hero-unit {
	padding: 0;
	background: url("img/skyline.jpg") no-repeat 75% top;
	margin-left: -2em;
	margin-right: -4em;

}

#scrollArrow {
	font-size: 3em;
	color: #fff;
	border-radius: 1em;
	opacity: .5;
}
#scrollArrow:hover {
	color: #66CDAA;
	opacity: 1;
}

#scrollArrow:focus {
	color: #66CDAA;


}
.hero-unit-inner { 
	padding-bottom: 20em;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.navbar-brand img {
	border-radius: 30px;
	height: 3em;
	width: 3em;
}

.navbar-inner {
	padding-left: 0;
	padding-right: 0;
	min-height: 100px;
	background: transparent;
	border: none;
	box-shadow: none;
	padding-top: 20px;
}

.navbar .nav > li > a {
	font-weight: bold;
	font-size: 14px;
	text-shadow: none;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar .nav > li > a:hover, a:focus {
	color: #66CDAA;
}

.navbar .nav > li > a:focus {
	color: #66CDAA;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	box-shadow: none;
	background: rgba(0,0,0,0.7);
	color: #66CDAA;

}

.langicon {
	height: 40px;
	width: 40px;
}

.langicon-small {
	height: 75px;
	width: 75px;
	margin: -20px;
	padding: 0px;
}

.img-polaroid {
	height: 185px;
	width: 250px;

}
a {
	color: black;
}

.btn {
	background: #9a9c9f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	box-shadow: 0 2px 1px rgba(0,0,0,0.3);
	font-size: 16px;
	font-weight: bold;
	
}
.btn:hover {
	background: #66CDAA;
	color: #fff;
}

.btn:focus {
	background: #66CDAA;
	color: #fff;
}


a:hover, a:focus {
	color: #66CDAA;
}

#skills {
	margin-bottom: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 100px;
	padding-top: 50px;
}

#projects {
	margin-bottom: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 100px;
}

#widgets {
	margin-bottom: 60px;
	padding-bottom: 100px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#gh-username {
	color: #66CDAA;
}

.footer-links {

	list-style: none;
}
.footer-links li {
	display: inline-block;
	padding-left: .25em;
	padding-right: .25em;
}

.socialIcons {
	font-size: 2em;
	padding-left: .25em;
	padding-right: .25em;
}

