.langicon {
    height: 40px;
    width: 40px;
}

.langicon-small {
    height: 85px;
    width: 85px;
    margin: -20px;
    padding: 0px;
}

.services {
    background-image: url("img/360bridge-min.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-top: -4.5em;
    color: #fff;
    margin-left: -1.04em;
    margin-right: -1.04em;
}

a {
    color: #777777;
}

.btn {
    background: #000000;
    border-color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #777777;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background: #66CDAA;
    border-color: transparent;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn:focus {
    background: #66CDAA;
    color: #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn-primary {
    color: #777777;
}

#skills {
    color: #777777;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: -1.04em;
    margin-right: -1.04em;
    background-color: #000000;
}

#services {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    padding-top: 100px;
}

#projects {
    /*  margin-bottom: 60px;*/
    padding-top: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*padding-bottom: 100px;*/
    margin-left: -1.04em;
    margin-right: -1.04em;
    background-color: #000000;
    color: #777777;
}

.portfolioBtn {
    margin-bottom: em;
}

.imgWrap {
    position: relative;
    height: 400px;
    width: 514px;
    margin: 0 auto;
    margin-bottom: 10em;
    text-decoration: none;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #66CDAA;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.imgDescription a {
    text-decoration: none;
}

.smallText {
    padding: 15px;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
    text-decoration: none;
    vertical-align: 50%;
    padding-top: 40px;
}

.perks {
    font-size: 7em;
    background: #66CDAA;
    border-radius: 50%;
    padding: .25em;
}

span .fa-mobile {
    padding-right: .572em;
    padding-left: .572em;
}
