#portfolio .row {
    padding-top: 100px;
    padding-bottom: 100px;
}

#portfolio .odd {
    background-color: #999999;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

#portfolio .odd a {
    color: white;
}

#portfolio .odd a:hover,
#portfolio .odd a:focus {
    text-decoration: none;
    color: #66CDAA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
