<template name="background">
    <div id="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <h1>My Background</h1>
                    <hr class="smallHr">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-1 wow fadeIn" data-wow-delay=".3s">
                    
                        <p class="firstP">
                            My name is Walker Flieller and I am a software developer currently living in Austin, Texas. I am a recent graduate of the Web Development Immersive course offered by General Assembly at their Austin Campus. Before taking the course I was a student/entrepreneur focusing in Business Development and Administration. While working on my Businesses I realized I had an acute need for a technical co-founder. After vigorously searching for one with no success I decided to make the plunge into the development world myself. This has been one of the best decisions I have ever made, and I haven't looked back since.</p>
                        <p>
                            I have experience working for Fortune 100 companies, as well as starting multiple businesses of my own. I can often see opportunity where others do not, and strive to challenge the status quo wherever possible. We live in an era of progress, and I aim to become an "outlier" in this new age of innovation. What I may lack in skill I make up in ambition, discipline and passion, as I am a lifelong learner and am constantly trying to become the best at all that I do.</p>
                
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center resume wow fadeIn" data-wow-delay=".3s">
                    <embed class="resumePdf img-responsive" src="pdf/resume-fixed.pdf" width="100%" height="100%" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                </div>
            </div>
        </div>
    </div>
</template>
