<template name="homepage">
    <div id="skills" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <a name="skills"></a>
                    <h1>Skills</h1>
                    <h4>These are some of the languages, libraries and frameworks I have experience with.</h4>
                    <hr class="smallHr">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="tweets text-center wow rubberBand" data-wow-delay=".3s">
                        <h3>Ruby</h3>
                        <img src="img/icon-ruby.png" class="langicon" alt="">
                        <img src="img/rails.png" class="langicon" alt="">
                        <br>
                        <p>Ruby and Ruby on Rails.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="tweets text-center wow rubberBand" data-wow-delay=".3s">
                        <h3>Javascript</h3>
                        <img src="img/JSS.png" class="langicon-small" alt="">
                        <img src="img/meteor.png" class="langicon" alt="">
                        <img src="img/backbone.png" class="langicon" alt="">
                        <img src="img/nodejs.png" class="langicon" alt="">
                        <img src="img/jquery_logo.png" class="langicon" alt="">
                        <img src="img/angular-js.png" class="langicon-small" alt="">
                        <br>
                        <p>Native Javascript, Meteor.js, Node.js, jQuery, Angular, and Backbone.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="liPosts text-center wow rubberBand" data-wow-delay=".3s">
                        <h3>Front End</h3>
                        <img src="img/HTML.png" class="langicon-small" alt="">
                        <img src="img/CSS.png" class="langicon-small" alt="">
                        <img src="img/B.png" class="langicon-small" alt="">
                        <img src="img/ionic.png" class="langicon" alt="">
                        <p>HTML5, CSS3, Bootstrap, Ionic.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="blogPosts text-center wow rubberBand" data-wow-delay=".3s">
                        <h3>Database Types</h3>
                        <img src="img/postgresqlIcon.png" class="langicon" alt="">
                        <img src="img/mongoIcon.png" class="langicon" alt="">
                        <img src="img/neo4j.png" class="langicon" alt="">
                        <br>
                        <p>SQL and NoSQL databases such as postgreSQL, MongoDB, as well as graphical databases such as Neo4j.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services" class="container-fluid services">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay=".3s">
                <a name="services"></a>
                <h1>Services</h1>
                <h4>What I guarantee with my work.</h4>
                <hr class="smallHr">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center wow fadeIn" data-wow-delay=".3s">
                <span class="responsive">
                    <i class="fa fa-mobile perks"></i>
                </span>
                <h3>Responsive Design</h3>
                <p>I will make your project look amazing on any device, whether its a desktop, tablet or even mobile device.</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center wow fadeIn" data-wow-delay=".3s">
                <span class="cleanCode">
                    <span><i class="fa fa-code perks"></i></span>
                </span>
                <h3>Clean, Maintainable Code</h3>
                <p>My code will be easily maintained by me or any other developer that you have work on your project now or in the future.</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center wow fadeIn" data-wow-delay=".3s">
                <span class="text-center timeframe">
                    <i class="fa fa-rocket perks"></i>
                </span>
                <h3>Rapid Devlopment</h3>
                <p>I will develop and deploy your project very quickly while
                    <br> maintaining the utmost quality of work.</p>
            </div>
        </div>
    </div>
    <div id="projects">
        <div class="container-fluid">
            <div class="row homepageSection">
                <div class="col-md-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <h1>Projects</h1>
                    <h4>My most recent work.</h4>
                    <a class="btn portfolioBtn" href="/portfolio#content">View my entire Portfolio</a>
                    <hr class="smallHr">
                </div>
            </div>
            <br>
            <!-- <div class="row"> -->
            <!-- <div class="span3">
                    <div class="appetite text-center">
                        <h4>App-etite</h4>
                        <p>App-etite is a web app built in ruby on rails that allows users to post lunch ideas, vote on the best lunch ideas in order to decide what lunch to get for that day. </p>
                    </div>
                </div>
                <div class="span3">
                    <div class="tictactoe text-center">
                        <h4>Episode Tic-Tac-Toe</h4>
                        <p>Episode Tic-Tac-Toe is a fully functional javascript, html and css based tic-tac-toe game that is themed to look like star-wars.</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="drinkability text-center">
                        <h4>Drinkability</h4>
                        <p>Drinkability is a web app built in node.js that allows users to post, comment and vote on their favorite and least favorite cocktails and types of beers and wines.</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="intro text-center">
                        <h4>Intro</h4>
                        <p>Intro is a web app built with meteor.js that allows users to check in to their current location and see whose nearby, and has a social platform built in that allows users to connect & communicate.</p>
                    </div>
                </div> -->
            <!-- </div> -->
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <div class="imgWrap text-center">
                        <img src="img/whatsapp1.jpg" class="thumbnail img-polaroid" alt="">
                        <a href="/portfolio#whatsapp" class="imgDescription text-center">
                            <h2 class="smallText">I am currently working on building a whatsapp clone with meteor and angular. Right now it is a work in progress.</h2>
                            <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">Angular.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">Ionic</span>
                            <span class="badge badge-success">MongoDB</span>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <div class="imgWrap text-center">
                        <img src="img/intro-min.jpg" class="thumbnail img-polaroid" alt="">
                        <a href="/portfolio#intro" class="imgDescription text-center">
                            <h2 class="smallText">Intro is a web app built with meteor.js that allows users to check in to their current location and see whose nearby, and has a social platform built in that allows users to connect & communicate.</h2>
                            <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">MongoDB</span>
                            <span class="badge badge-success">Ionic</span>
                        </a>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <div class="imgWrap text-center">
                        <img src="img/alfrasite.jpg" class="thumbnail img-polaroid" alt="">
                        <a href="/portfolio#alfra" class="imgDescription text-center">
                            <h2 class="smallText">The Alfra Developers website is a single page web application built with meteor, HTML5, CSS3 and the Bootstrap web styling framework.</h2>
                            <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">MongoDB</span>
                            <span class="badge badge-success">jQuery</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".3s">
                    <div class="imgWrap text-center">
                        <img src="img/slackClone-min.jpg" class="thumbnail img-polaroid" alt="">
                        <a href="/portfolio#slack" class="imgDescription text-center">
                            <h2 class="smallText">I built a slack clone with meteor. Right now it is functioning but is still a work in progress. </h2>
                            <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">MongoDB</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>
