<template name="portfolio">
    <div id="portfolio" class="row">
        <div class="container-fluid">
            <div class="row firstRow">
                <div class="col-lg-12 col-md-12 text-center">
                    <h1>Projects</h1>
                    <hr class="smallHr">
                </div>
            </div>
            <a id="whatsapp"></a>
            <div class="row odd firstProject">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/whatsapp1.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Whatsapp Clone</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">Angular.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">Ionic</span>
                            <span class="badge badge-success">MongoDB</span></li>
                        <li><strong>Type:</strong> Social Platform</li>
                        <li><strong>Date:</strong> January 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p>I am currently working on building a whatsapp clone with meteor and angular. Right now it is a work in progress. Please feel free to check it out at the links below.</p>
                    <h3>Links:</h3>
                    <a href="https://github.com/wflieller/whatsapp" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="alfra"></a>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/alfrasite.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Alfra Developers Website</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">MongoDB</span>
                            <span class="badge badge-success">jQuery</span>
                        </li>
                        <li><strong>Type:</strong> Single Page Web Application</li>
                        <li><strong>Date:</strong> November 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p>The Alfra Developers website is a single page web application built with meteor, HTML5, CSS3 and the Bootstrap web styling framework.</p>
                    <h3>Links:</h3>
                    <a href="http://alfradevelopers.com" target="_blank">http://alfradevelopers.com</a>
                    <br>
                    <a href="https://github.com/wflieller/alfrasite" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="slack"></a>
            <div class="row odd">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/slackClone-min.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Slack Clone</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">MongoDB</span></li>
                        <li><strong>Type:</strong> Social Platform</li>
                        <li><strong>Date:</strong> August 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p>I built a slack clone with meteor. Right now it is functioning but is still a work in progress. Please feel free to check it out at the links below.</p>
                    <h3>Links:</h3>
                    <a href="http://slack.walkerflieller.com" target="_blank">slack.walkerflieller.com</a>
                    <br>
                    <a href="https://github.com/wflieller/chatroom" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="intro"></a>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/intro-min.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Intro</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Meteor.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">MongoDB</span>
                            <span class="badge badge-success">Ionic</span></li>
                        <li><strong>Type:</strong> Social Platform</li>
                        <li><strong>Date:</strong> July 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p>Intro is a web app built with meteor.js that allows users to check in to their current location and see whose nearby, and has a social platform built in that allows users to connect & communicate. Intro is a social networking application that takes digital introductions off of the web and creates real world opportunities to network with others. It is an attempt at acting like an easy and non-confrontational alternative to making a formal introduction.</p>
                    <h3>Links:</h3>
                    <a href="http://intro.walkerflieller.com" target="_blank">intro.walkerflieller.com</a>
                    <br>
                    <a href="https://github.com/wflieller/intro-app-meteor" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="drinkability"></a>
            <div class="row odd">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/drinkability-min.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Drinkability</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Node.js</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">MongoDB</span></li>
                        <li><strong>Type:</strong> Social Platform</li>
                        <li><strong>Date:</strong> July 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p> Drinkability is a simple reddit style CRUD app built in node.js that allows users to post, comment and vote on their favorite and least favorite cocktails and types of beers and wines. It was my first attempt at using node.js and using a noSQL db, so I am very proud of what I was able to accomplish.</p>
                    <h3>Links:</h3>
                    <a href="http://drinkability.herokuapp.com" target="_blank">drinkability.herokuapp.com</a>
                    <br>
                    <a href="https://github.com/wflieller/Drink-App-Node" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="appetite"></a>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/appetite-min.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>App-e-tite</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Ruby on Rails</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">Bootstrap</span>
                            <span class="badge badge-success">Psql</span></li>
                        <li><strong>Type:</strong> Social Platform</li>
                        <li><strong>Date:</strong> June 2015</li>
                    </ul>
                    <h3>Discription:</h3>
                    <p>App-e-tite is a web app built in ruby on rails that allows users to post lunch ideas, vote on the best lunch ideas in order to decide what lunch to get for that day. This would be a simple CRUD app designed for teams, classmates and different social groups. The app would let you create a post of what you want for lunch…then people in your group can see that and potentially like or comment on that post. Also whoever liked the post gets a notification when everyone is going out to get that said item.</p>
                    <h3>Links:</h3>
                    <a href="http://app-e-tite.herokuapp.com" target="_blank">app-e-tite.herokuapp.com</a>
                    <br>
                    <a href="https://github.com/wflieller/app-etite" target="_blank">View on Github</a>
                </div>
            </div>
            <a id="tictactoe"></a>
            <div class="row odd">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="img/tictactoe-min.jpg" class="thumbnail img-polaroid img-responsive" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Episode Tic-Tac-Toe</h3>
                    <ul>
                        <li><strong>Tech:</strong> <span class="badge badge-success">Javascript</span>
                            <span class="badge badge-success">HTML5</span>
                            <span class="badge badge-success">CSS3</span>
                            <span class="badge badge-success">jQuery</span></li>
                        <li><strong>Type:</strong> Game</li>
                        <li><strong>Date:</strong> June 2015</li>
                    </ul>
                    <h3>Description:</h3>
                    <p>Episode Tic-Tac-Toe is a fully functional javascript, html and css based tic-tac-toe game that is themed to look like star-wars. This was my very first project that I was able to accomplish after just 3 short weeks of instruction. </p>
                    <h3>Links:</h3>
                    <a href="http://episodetictactoe.bitballoon.com" target="_blank">episodetictactoe.bitballoon.com</a>
                    <br>
                    <a href="https://github.com/wflieller/TicTacToe" target="_blank">View on Github</a>
                </div>
            </div>
        </div>
    </div>
</template>
